<body style="background-color: rgb(8, 199, 224); text-align: center;margin-left: 37%; margin-right: 37%;">
    <h1>CREAR UNA CUENTA NUEVA.</h1>
    <br>
    <input placeholder="NOMBRE" [(ngModel)]="nombre" >
    <br>
    <input placeholder="CORREO ELECTRONICO" [(ngModel)]="correo" >
    <br>
    <input type="CONTRASEÑA" placeholder="CONTRASEÑA" [(ngModel)]="contra" >
    <br>
    <input type="CONTRASEÑA" placeholder="CONFIRME SU CONTRASEÑA" [(ngModel)]="confirmar" >
    <br>
    <input placeholder="TELEFONO" [(ngModel)]="numero">
    <br>
    <button (click)="registrado()">REGISTRARSE.</button>
</body>