<body style="background-color: rgb(28, 253, 8); text-align: center; margin-left: 37%; margin-right: 37%;">
    <h1>ANDROID</h1>
    <p>NOMBRE</p>
    {{nombre}}
    <br>
    <br>
    <p>CORREO ELECTRONICO.</p>
    {{correo}}
    <br>
    <br>
    <p>NUMERO DE TELEFONO</p>
    {{numero}}
    <br>
    <br>
    <p>Ticket/seat</p>
    <p>Mud run Participant</p>
    <br>
    <br>
    <p>Evento</p>
    <p>Evento de resistencia con grupo 
        <br>Inscripción, Transferencias
        <br>y Números de asignación automática habilitados</p>
    <p>(Ejemplo)</p>
    <br>
    <br>
    <div style="margin-left: 37%;">
        <p style="text-align: left;">Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Localition</p>
        <p style="text-align: left;">Fri.Feb 21 2020&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Golden Gate park</p>
        <p style="text-align: left;">7:00 AM PST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;San Francisco. CA</p>
    </div>
    </body>